<h1>{{selectedChore.chore}}</h1>

<p>frequency: {{selectedChore.frequency}}</p>
<p>dateCreated: {{selectedChore.dateCreated}}</p>
<p>wheelId: {{selectedChore.wheelId}}</p>

<a href="/chore/update/{{selectedChore._id}}">
  <button>Update</button>
</a>

<form action="/chore/{{selectedChore._id}}?_method=DELETE" method="POST">
  <input type="submit" value="Delete">
</form>