<header>
  <div class="home-button-container">
    <a href="/member/{{selectedChore.memberId}}">
      <p class="home-button">WHEEL <span class="span-home-button">of</span>
        <br />
        <span class="chores-home-button">CHORES</span></p>
    </a>
  </div>

  <div class="page-title">
    <h1>Update a Chore</h1>
  </div>
</header>

<main>
  <form action="/chore/{{selectedChore._id}}?_method=PUT" method="POST">
    <input type="text" name="chore" placeholder="chore" value="{{selectedChore.chore}}" />
    <input type="number" name="frequency" placeholder="frequency in days" value="{{selectedChore.frequency}}" />
    <input type="boolean" name="completed" placeholder="task completion status" value="{{selectedChore.completed}}" />
    <input type="submit" value="Update">
  </form>
</main>