<h1>{{selectedWheel.title}}</h1>

<p>description: {{selectedWheel.description}}</p>
<p>dateCreated: {{selectedWheel.dateCreated}}</p>
<p>chores: {{selectedWheel.chores}}</p>
<p>people: {{selectedWheel.people}}</p>
<p>choreId: {{selectedWheel.choreId}}</p>
<p>personId: {{selectedWheel.personId}}</p>