{{!-- ************ wheel info ************ --}}
<header>
  <div class="home-button-container">
    <a href="/wheel">
      <p class="home-button">WHEEL <span class="span-home-button">of</span>
        <br />
        <span class="chores-home-button">CHORES</span></p>
    </a>
  </div>

  <div class="page-title">
    <div class="hero-container">
      <h1>{{selectedWheel.title}}</h1>
      <p class="wheel-descrition">{{selectedWheel.description}}</p>
    </div>

    <div class="wheel-options-container">
      {{!-- Update wheel --}}
      <a href="/wheel/update/{{selectedWheel._id}}">
        <button>Update Wheel</button>
      </a>

      {{!-- delete wheel --}}
      <form action="/wheel/{{selectedWheel._id}}?_method=DELETE" method="POST">
        <input type="submit" value="Delete Wheel">
      </form>
    </div>
  </div>


  {{!-- Create member --}}
  <div class="create-member-container">
    <a href="/member/create/{{selectedWheel._id}}">
      <h2>+Member</h2>
    </a>
</header>

{{!-- ************** Member section ******************** --}}
<div class="member-container">
  {{!-- Picture and Name --}}
  {{#each members}}
  <div class="member-each-container">
    <div class="member-title-container">
      <a href="/member/{{_id}}">
        <div class="member-pic-sm-container">
          <img src="{{picture}}" alt="{{name}}'s Profile Pic" class="member-pic-sm" />
        </div>
      </a>
      <a href="/member/{{_id}}">
        <h3>{{name}}</h3>
      </a>
    </div>
    {{!-- Member Options --}}
    <div class="member-options-container">
      {{!-- Update --}}
      <a href="/Member/update/{{_id}}">
        <button>Update {{name}}'s Info</button>
      </a>
      {{!-- Delete --}}
      <form action="/member/{{_id}}?_method=DELETE" method="POST">
        <input type="submit" value="Delete" />
      </form>
      {{!-- ADD CHORE --}}
      <a href="/chore/create?memberId={{_id}}">
        <button>Add Chore</button>
      </a>
    </div>

    {{!-- ######## CHORE LIST FOR EACH MEMBER #########--}}
    <ul class="chores-container">
      {{#each chores}}
      {{#if completed}}
      <li class="chore-done">{{chore}}</li>
      {{else}}

      <li class="chore-item-container">
        <p class="chore">{{chore}}</p>

        <form action="/chore/{{_id}}?_method=DELETE" method="POST">
          <input type="submit" value="delete">
        </form>

        <a href="/chore/update/{{_id}}">
          <button>Update</button>
        </a>

        <form action="/chore/udate/completed/{{_id}}?_method=PUT" method="POST">
          <input type="submit" class="check-box" value="done?">
        </form>
      </li>
      {{/if}}





      {{/each}}
    </ul>
  </div>
  {{/each}}
</div>

</div>