{{!-- ************ wheel info ************ --}}
<h1>{{selectedWheel.title}}</h1>

<p>description: {{selectedWheel.description}}</p>
<p>dateCreated: {{selectedWheel.dateCreated}}</p>
<p>_id: {{selectedWheel._id}}</p>

{{!-- Update wheel --}}
<a href="/wheel/update/{{selectedWheel._id}}">
  <button>Update Wheel</button>
</a>
{{!-- delete wheel --}}
<form action="/wheel/{{selectedWheel._id}}?_method=DELETE" method="POST">
  <input type="submit" value="Delete Wheel">
</form>
{{!-- ************** Member section ******************** --}}
<h2>Members</h2>
{{#each members}}
<a href="/member/{{_id}}">
  <h4>{{name}}</h4>
</a>
<img src="{{picture}}" alt="{{name}}'s Profile Pic" />
<p>wheelId: {{wheelId}}</p>
{{!-- Update --}}
<a href="/Member/update/{{_id}}">
  <button>Update {{name}}'s Info</button>
</a>
{{!-- Delete --}}
<form action="/member/{{_id}}?_method=DELETE" method="POST">
  <input type="submit" value="Delete {{name}} from this Wheel" />
</form>
{{/each}}
<br />
{{!-- Create member --}}
<a href="/member/create/{{selectedWheel._id}}">
  <button>Add Member</button>
</a>